<!DOCTYPE html>
<html lang="en">
<head>
	<title>Mental Health Study</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/css/bootstrap-select.min.css">

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.14.0-beta3/dist/js/bootstrap-select.min.js"></script>


	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link href="https://fonts.googleapis.com/css2?family=Karma&family=Roboto&display=swap" rel="stylesheet">
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">


    <style>
		body{
			font-family: "Lato", Georgia, "Times New Roman", serif;
		}

		.btn-as-block {
			display: block;
			}

		.blog-header {
			/* line-height: 1; */
			/* border-bottom: 1px solid #e5e5e5; */
		}
		
		.blog-header-logo {
			font-family: "Playfair Display", Georgia, "Times New Roman", serif;
			font-size: 2.0rem;
			text-decoration: none;
		}
		
		.header-img {
			width:10px;

		}
		
		.blog-header-logo:hover {
			text-decoration: none;
		}
		
		
		.display-4 {
			font-size: 2.5rem;
		}
		@media (min-width: 768px) {
			.display-4 {
			font-size: 3rem;
			}
		}
		
		.nav-scroller {
			position: relative;
			z-index: 2;
			height: 2.75rem;
			/* overflow-y: hidden; */
		}
		
		.nav-scroller .nav {
			display: flex;
			flex-wrap: nowrap;
			padding-bottom: 1rem;
			margin-top: -1px;
			overflow-x: auto;
			text-align: center;
			white-space: nowrap;
			-webkit-overflow-scrolling: touch;
		}
		
		.nav-scroller .nav-link {
			/* padding-top: .75rem; */
			/* padding-bottom: .75rem; */
			font-size: .875rem;
		}

		.link-secondary {
			text-decoration: none;
		}
		
		
		.flex-auto {
			flex: 0 0 auto;
		}
		
		.h-250 { height: 250px; }
		@media (min-width: 768px) {
			.h-md-250 { height: 250px; }
		}
		
		/* Pagination */
		.blog-pagination {
			margin-bottom: 4rem;
		}
		.blog-pagination > .btn {
			border-radius: 2rem;
		}
		
		/*
		* Blog posts
		*/
		.blog-post {
			margin-bottom: 4rem;
		}
		.blog-post-title {
			margin-bottom: .25rem;
			font-size: 2.5rem;
		}
		.blog-post-meta {
			margin-bottom: 1.25rem;
			color: #727272;
		}
		
		/*
		* Footer
		*/
		.blog-footer {
			/* padding: 2.5rem 0; */
			color: #727272;
			text-align: center;
			background-color: #f9f9f9;
			border-top: .05rem solid #e5e5e5;
            bottom: 0;
		}
		/* .blog-footer p:last-child {
			position: absolute;
			bottom: 0;
		} */

		.mt-6 {
			margin-top: 55px !important;
			}
		.fs-5-5{
			font-size: 18px;
		}


	</style>


</head>
<body>
	<header class="blog-header pb-2 pt-4">
		<div class="row flex-nowrap justify-content-between align-items-center">
			<div class="col-3 pt-2">
			<!-- <a class="link-secondary" href="#">Subscribe</a> -->
			</div>
			<div class="col-6 text-center">
				<div class="row justify-content-center mb-4">
					<div class="col-md-3 col-10 align-self-center me-md-4 me-0 mb-md-0 mb-5">
						<a href="/"><img src="https://raw.githubusercontent.com/ash-shar/DISHELPER/master/Signature_Stacked_Purple_RGB.png" class="img-fluid"></a>
					</div>

					<!-- <div class="col-1 align-self-center"></div> -->

					<div class="col-md-3 col-10 align-self-center">
						<a href="/"><img src="https://raw.githubusercontent.com/ash-shar/DISHELPER/master/mha-logo.png" style="width: 120%; height: auto;"></a>
					</div>
				</div>


			<strong><a id="field-iteration" class="blog-header-logo text-dark pt-2" href="#">Mental Health Study</a></strong>
			</div>
			<div class="col-3 d-flex align-items-center">
			</div>
		</div>
		<!-- <div class="row justify-content-between align-items-center text-center text-muted">
			<p>Exercise your agency while collaboratively designing an object!</p></div> -->
	</header>

			
<div class="text-justify container mt-1 p-3">

	<div class="row">
		<p class="fs-5-5 mb-4">Welcome {{username}}!</p>


		<!-- Add a form with condition as a hidden input and call RCT  -->

		<div class="col-12">
			<h4 class="mb-3"><b>Use the Cognitive Restructuring Tool</b></h4>

			<form class="p-0 mb-3" method="POST" action="{% url 'study:RCT' %}">{% csrf_token %}
				<input type="hidden" name="condition" value="{{condition}}" />
				<button type="submit" class="btn btn-lg btn-success"> Link to the Tool </button>
			</form>

				<!-- <div class="row" style="margin-bottom: 15px;">
				When all your tasks are finished, give feedback <a href="https://forms.gle/UJGjETEF1qhePX8A7" target="_blank"> here</a>
				</div> -->

				<br/>

		</div>
		
			


		<div class="col-12">
			<h4><b>Your Progress</b></h4>
			<br/>

			<div class="card mb-4 fs-5">
				<div class="card-header">
					<strong>Total Earnings</strong>
				  </div>                                
				  <div class="card-body">
					<div class="row">
						<p class="my-2"><b><span style="color: green;">${{total_earnings}}</span></b> (<mark>You can earn up to ${{total_remaining_earnings}} more</mark>)</p>

						<p class="fs-5-5 pt-2"><b>Note:</b> Please refer to the payment instructions below for a breakdown of how payments are divided.</p>
					</div>
				</div>

			</div>
			

			<p class="fs-5 mb-2 mt-3"><b>Week 1 to Week 4</b></p>

			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">Week</th>
						<th scope="col">Used the tool at least three times this week ($5)</th>
						<th scope="col">Survey ($5)</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<th scope="row">1</th>
						<td>{% if week_1_status == 'completed' %} <i class="fa fa-check" style="color: green;" aria-hidden="true"></i>&nbsp;Completed Successfully!
						{% elif week_1_status == 'active' %} <span style="color: blue;">Active (Used: {{week_1_use}}; Minimum {{week_1_remaining}} tool use due by {{week_1_expire}} PT)</span>
						<br/>
						<form class="p-0 mt-2" method="POST" action="{% url 'study:RCT' %}">{% csrf_token %}
							<input type="hidden" name="condition" value="{{condition}}" />
							<button type="submit" class="btn btn-success"> Use the Cognitive Restructuring Tool </button>
						</form>

						{% elif week_1_status == 'expired' %}<i class="fa fa-times" aria-hidden="true"></i>&nbsp;Incomplete (tool used: {{week_1_use}} out of 3) {% elif week_1_status == 'TBA' %} Starts: {{week_1_start}} PT {% endif %}</td>
						<td>{% if survey_1_status == 1 %} <i class="fa fa-check" style="color: green;" aria-hidden="true"></i>&nbsp;Completed Successfully! {% else %} Starts: {{survey_1_start}} PT {% endif %}</td>
					</tr>

					<tr>
						<th scope="row">2</th>
						<td>{% if week_2_status == 'completed' %} <i class="fa fa-check" style="color: green;" aria-hidden="true"></i>&nbsp;Completed Successfully!
						{% elif week_2_status == 'active' %} <span style="color: blue;">Active (Used: {{week_2_use}}; Minimum {{week_2_remaining}} tool use due by {{week_2_expire}} PT)</span>
						<br/>
						<form class="p-0 mt-2" method="POST" action="{% url 'study:RCT' %}">{% csrf_token %}
							<input type="hidden" name="condition" value="{{condition}}" />
							<button type="submit" class="btn btn-success"> Use the Cognitive Restructuring Tool </button>
						</form>

						{% elif week_2_status == 'expired' %}<i class="fa fa-times" aria-hidden="true"></i>&nbsp;Incomplete (tool used: {{week_2_use}} out of 3) {% elif week_2_status == 'TBA' %} Starts: {{week_2_start}} PT {% endif %}</td>
						<td>{% if survey_2_status == 1 %} <i class="fa fa-check" style="color: green;" aria-hidden="true"></i>&nbsp;Completed Successfully! {% else %} Starts: {{survey_2_start}} PT {% endif %}</td>
					</tr>

					<tr>
						<th scope="row">3</th>
						<td>{% if week_3_status == 'completed' %} <i class="fa fa-check" style="color: green;" aria-hidden="true"></i>&nbsp;Completed Successfully!
						{% elif week_3_status == 'active' %} <span style="color: blue;">Active (Used: {{week_3_use}}; Minimum {{week_3_remaining}} tool use due by {{week_3_expire}} PT)</span>
						<br/>
						<form class="p-0 mt-2" method="POST" action="{% url 'study:RCT' %}">{% csrf_token %}
							<input type="hidden" name="condition" value="{{condition}}" />
							<button type="submit" class="btn btn-success"> Use the Cognitive Restructuring Tool </button>
						</form>

						{% elif week_3_status == 'expired' %}<i class="fa fa-times" aria-hidden="true"></i>&nbsp;Incomplete (tool used: {{week_3_use}} out of 3) {% elif week_3_status == 'TBA' %} Starts: {{week_3_start}} PT {% endif %}</td>
						<td>{% if survey_3_status == 1 %} <i class="fa fa-check" style="color: green;" aria-hidden="true"></i>&nbsp;Completed Successfully! {% else %} Starts: {{survey_3_start}} PT {% endif %}</td>
					</tr>

					<tr>
						<th scope="row">4</th>
						<td>{% if week_4_status == 'completed' %} <i class="fa fa-check" style="color: green;" aria-hidden="true"></i>&nbsp;Completed Successfully!
						{% elif week_4_status == 'active' %} <span style="color: blue;">Active (Used: {{week_4_use}}; Minimum {{week_4_remaining}} tool use due by {{week_4_expire}} PT)</span>
						<br/>
						<form class="p-0 mt-2" method="POST" action="{% url 'study:RCT' %}">{% csrf_token %}
							<input type="hidden" name="condition" value="{{condition}}" />
							<button type="submit" class="btn btn-success"> Use the Cognitive Restructuring Tool </button>
						</form>

						{% elif week_4_status == 'expired' %}<i class="fa fa-times" aria-hidden="true"></i>&nbsp;Incomplete (tool used: {{week_4_use}} out of 3) {% elif week_4_status == 'TBA' %} Starts: {{week_4_start}} PT {% endif %}</td>
						<td>{% if survey_4_status == 1 %} <i class="fa fa-check" style="color: green;" aria-hidden="true"></i>&nbsp;Completed Successfully! {% else %} Starts: {{survey_4_start}} PT {% endif %}</td>
					</tr>
				</tbody>

			  </table>


			  <p class="fs-5 mb-2 mt-4"><b>Week 5 and Week 8</b></p>

			  <table class="table table-hover mt-2">
				<thead>
					<tr>
						<th scope="col">Week</th>
						<th scope="col">Survey ($10)</th>
					</tr>
				</thead>

				<tbody>
					<tr>
						<th scope="row">5</th>
						<td>{% if survey_5_status == 1 %} <i class="fa fa-check" style="color: green;" aria-hidden="true"></i>&nbsp;Completed Successfully! {% else %}Starts: {{survey_5_start}} PT {% endif %}</td>
					</tr>
					<tr>
						<th scope="row">8</th>
						<td>{% if survey_8_status == 1 %} <i class="fa fa-check" style="color: green;" aria-hidden="true"></i>&nbsp;Completed Successfully! {% else %}Starts: {{survey_8_start}} PT {% endif %}</td>
					</tr>
				</tbody>
				</table>

		</div>


	</div>

	<div class="row mt-5">
		<h4><b>Payment Instructions</b></h4>

		<p>You are eligible to receive up to $60 total in the study: $40 through the completion of surveys, and $20 for consistent engagement with the digital mental health tool throughout the first four weeks of the study.</p>

		<p>Your payment will be split into 6 installments. With each installment you will be eligible to earn $10. For the first 4 weeks, half of your weekly incentive ($5) will be based on engagement with the digital health tool, and the other half ($5) will be based on the completion of the weekly surveys. </p>


		<p>More specifically, $5 will be designated if you engage with the tool 3 times or more each week. If you engage the tool less than 3 times in a week, you will not be compensated for this component for that week. Compensation to each part is independent of one another, so you can earn $5 for survey completion even if you haven’t engaged sufficiently to earn $5 for resource engagement. During week 5, you will be sent an exit survey for which you will receive $10 if completed. Completion of the follow up survey that will be sent to you at the end of week 8 will also be tied to a $10 incentive amount. 
			
		<p>If you complete all six surveys and engage at least 3x weekly with the DIY tool during the first 4 weeks, you will receive $60 in Amazon gift codes. Gift codes for each week’s resource engagement and survey completion will be emailed to you within 7-10 business days of each week’s survey completion period. Payment is sent to participants who provide complete and consistently accurate data. If we find later that you have not engaged to this standard, we will let you know and your participation in the study will end. If you do not receive payment, please contact the study team at <a href="mailto:mentalhealthstudy@uw.edu">mentalhealthstudy@uw.edu</a></p>

	</div>


		<div class="row mt-5">
					<h4><b>Your Past Reframes</b></h4>

					{% for thought_record in thought_records_dict %}

					<div class="col-10 mt-4">
					<div class="card">
						<div class="card-header">
							<strong>{{thought_record.created_at}} PT</strong>
						  </div>                                
						  <div class="card-body">
							<div class="row">

								<p class="my-1"><b>Negative thought I had:</b> <i><span id="thought_final"></span>{{thought_record.thought}}</i></p>

								<p class="my-1"><b>Emotion I felt:</b> <i><span id="emotion_final"></span>{{thought_record.emotion}}</i></p>

								<p class="my-1"><b>Situation I was in:</b> <i><span id="situation_final"></span>{{thought_record.situation}}</i></p>

								<p class="my-1"><b>Thinking trap I identified:</b> <i><span id="thinking_trap_final">{{thought_record.thinking_trap_selected}}</span></i></p>

								<p class="my-1"><b>Reframe I wrote:</b> <i><span id="rational_response_final">{{thought_record.reframe_final}}</span></i></p>
							</div>

							<!-- <div id="final-editor"></div>

							<div class="row">
								<button class="btn btn-primary-sm" id="final-editor-submit"><i class="fa fa-download" aria-hidden="true"></i>&nbsp;Save Thought Record</button>
							</div>
							 -->
							</div>
					  </div>
					</div>

					{% endfor %}
				</div>
</div>

</body>
</html>